%footer.footer
	.container-fluid
		%p.pull-left.footer-links
			%a{:href=>"http://www.koombea.com"} Koombea
		%ul.footer-links.pull-right	
			%li 
				%a{:href=>"#"} Terms of Service 
			%li.muted - 
			%li 
				%a{:href=>"#"} Privacy Policy
			%li.muted - 
			%li 
				%a{:href=>"#"} Program Policies